<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<link rel="shortcut icon" type="image/x-icon" href="../../../../../app-assets/images/ico/logo.png">
    <link rel="shortcut icon" type="image/png" href="../../../../../app-assets/images/ico/logo.png">
	<title>Reporte de Paciente</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style type="text/css">
      body{
        background-color: white;
        overflow: auto;
      }
      #consultar{
        
        /*determinamos una anchura*/
        width:900px;
        /*indicamos que el margen izquierdo, es la mitad de la anchura*/

        /*determinamos una altura*/
        height:500px;
        border-radius: 25px;
        overflow: auto;
        /*indicamos que el margen superior, es la mitad de la altura*/
        margin-top:130px;

        background-color: #ebd2f6;
        border:1px solid #c6c6c6;
      }
      #sticky-footer {
        flex-shrink: none;
      }
      #tabla{

        /*nos posicionamos en el centro del navegador*/

        /*determinamos una anchura*/
        width:750px;
        /*indicamos que el margen izquierdo, es la mitad de la anchura*/

        /*determinamos una altura*/
        height:330px;
        border-radius: 25px;
        overflow: auto;
        /*indicamos que el margen superior, es la mitad de la altura*/

        background-color: white;
        border:1px solid #c6c6c6;
      }
      #botones{
        /*nos posicionamos en el centro del navegador*/

        /*determinamos una anchura*/
        width:500px;
        /*indicamos que el margen izquierdo, es la mitad de la anchura*/

        /*determinamos una altura*/
        height:42px;
        border-radius: 25px;

        /*indicamos que el margen superior, es la mitad de la altura*/
        margin-bottom: 20px;
      }
      #estilo_btn{
        background-color: white;
        color: black;
        border: 2px solid #555555;
      }
      #estilo_btn:hover{
        background-color: #555555;
        color: white;
      }
    </style>
</head>
<body>
	<div class="mt-5 ml-5 mr-5 mb-5">
		<nav class="navbar navbar-dark bg-success">
			<a class="navbar-brand mx-auto text-light">Reporte</a>
		</nav>
		<div class="row">
			<div class="col-md 6 mt-4 text-center">
			</div>
		</div>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand mx-auto text-black">Información del Paciente</a>
		</nav>
		<div class="row">
			<div class="col-md 6 mt-2 text-center">
				<table class="table">
					<thead class="thead-light">
						<tr>
							<th>Nombre</th>
							<th>Apellido Paterno</th>
							<th>Apellido Materno</th>
							<th>Fecha de Aplicacion</th>
						</tr>
					</thead>
						<tr>
							<td><%= notas[0].Nombre%></td>
							<td><%= notas[0].ApPaterno%></td>
							<td><%= notas[0].ApMaterno%></td>
							<td><%= notas[0].Fecha%></td>
						</tr>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-md 5 mt-5 text-center">
			</div>
		</div>
		<nav class="navbar navbar-expand-lg navbar-light bg-info">
			<a class="navbar-brand mx-auto text-light">Resultados de los Cuestionarios</a>
		</nav>
		<div class="row">
			<div class="col-md 5 mt-2 text-center">
				<table class="table">
					<thead class="thead-light">
						<tr>
							<th>Resultado</th>
							<th>Interpretación del Resultado</th>
							<th>Observaciones del Cuestionario</th>
						</tr>
					</thead>
			<% if (cala) { %>
                <% for (var i = 0; i < cala.length; i++) {%>
						<tr>
							<td><%= cala[i].ValorR%></td>
							<td><%= cala[i].InterpretacionV%></td>
							<td><%= cala[i].ObservacionesCuestionario%></td>		
						</tr>
				<% } %>
            <% } %>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-md 6 mt-4 text-center">
			</div>
		</div>
		<nav class="navbar navbar-expand-lg navbar-light bg-success">
			<a class="navbar-brand mx-auto text-light">Porcentajes obtenidos de las variables significativas presentes en el fenómeno</a>
		</nav>
		<div class="row">
			<div class="col-md 5 mt-2 text-center">

				<table class="table">
					<thead class="thead-light">
						<tr>
							<th>Variable</th>
							<th>Porcentaje obtenido en las variables</th>
						</tr>
					</thead>
						<tr>
							<td><%= regresion[0].DescRegresion%></td>
							<%if(respcuest1.ValorR != "No aplicado" && respcuest1.length > 0){%>
								<%if((respcuest1[0].ValorR >= 1 && respcuest1[0].ValorR <= 27)){%>
									<% var res=((respcuest1[0].ValorR)*100)/27%>
									<td><%=res.toString().substr(0,5).concat("%")%></td>
								<%}%>
								<%} else {%>
									<td>No Aplica Indicador</td>
								<%}%>

						</tr>
						<tr>
							<td><%= regresion[1].DescRegresion%></td>
							<%if(respcuest2.ValorR != "No aplicado" && respcuest2.length > 0){%>
								<%if((respcuest2[0].ValorR == 3)){%>
								<td>100%</td>
								<%}else if((respcuest2[0].ValorR == 4)){%>
								<td>87.5%</td>
								<%}else if((respcuest2[0].ValorR == 5)){%>
								<td>75%</td>
								<%}else if((respcuest2[0].ValorR == 6)){%>
								<td>62.5%</td>
								<%}else if((respcuest2[0].ValorR == 7)){%>
								<td>50%</td>
								<%}else if((respcuest2[0].ValorR == 8)){%>
								<td>37.5%</td>
								<%}else if((respcuest2[0].ValorR == 9)){%>
								<td>23%</td>
								<%}else if((respcuest2[0].ValorR == 10)){%>
								<td>12.5%</td>
								<%}else{%>
									<td>No Aplica Indicador</td>
								<%}%>

								<%} else {%>
									<td>No Aplica Indicador</td>
								<%}%>
						</tr>
				</table>

			</div>
		</div>
			<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
				<a class="navbar-brand mx-auto text-light">Recomendaciones para el paciente</a>
			</nav>
		<div class="row">
			<div class="col-md 5 mt-2 text-center">
		    	<form action="/<%=notas[0].idDoctor%>/atender.ejs/<%=notas[0].idPaciente%>/<%=notas[0].Fecha%>" method="post">
			    	<div class='form-group'> 
			    	<textarea class="form-control" name="observaciones" rows="7"></textarea>
		    		</div>
		    		<button type="submit" id="estilo_btn" class="btn btn-success" onclick="window.location.href='/<%=notas[0].idDoctor%>/atender.ejs/<%=notas[0].idPaciente%>/<%=notas[0].Fecha%>/saveRecom'">Guardar recomendaciones</button> 
		    	</form>
		    	<br>
		    	<button type="submit" id="estilo_btn" class="btn btn-success" onclick="window.location.href='/<%= notas[0].idDoctor%>/atender.ejs/<%= notas[0].idPaciente %>/<%=notas[0].Fecha%>'">Regresar</button>
		    </div>
		</div>		
	</dive>
</body>
</html>