<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Reporte de Paciente</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="shortcut icon" type="image/x-icon" href="../../../../app-assets/images/ico/logo.png">
    <link rel="shortcut icon" type="image/png" href="../../../../app-assets/images/ico/logo.png">
    <style type="text/css">
      #estilo_btn{
        background-color: white;
        color: black;
        border: 2px solid #555555;
      }
      #estilo_btn:hover{
        background-color: #555555;
        color: white;
      }
    </style>
</head>
<body>
	<div class="mt-5 ml-5 mr-5 mb-5">
		<nav class="navbar navbar-dark bg-success">
			<a class="navbar-brand mx-auto text-light">Reporte</a>
		</nav>
		<div class="row">
			<div class="col-md 6 mt-4 text-center">
			</div>
		</div>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand mx-auto text-black">Información del Paciente</a>
		</nav>
		<div class="row">
			<div class="col-md 6 mt-2 text-center">
				<table class="table">
					<thead class="thead-light">
						<tr>
							<th>Nombre</th>
							<th>Apellido Paterno</th>
							<th>Apellido Materno</th>
							<th>Fecha de Aplicacion</th>
						</tr>
					</thead>
						<tr>
							<td><%= notas[0].Nombre%></td>
							<td><%= notas[0].ApPaterno%></td>
							<td><%= notas[0].ApMaterno%></td>
							<td><%= notas[0].Fecha%></td>
						</tr>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-md 5 mt-5 text-center">
			</div>
		</div>
		<nav class="navbar navbar-expand-lg navbar-light bg-info">
			<a class="navbar-brand mx-auto text-light">Resultados de los Cuestionarios</a>
		</nav>
		<div class="row">
			<div class="col-md 5 mt-2 text-center">
				<table class="table">
					<thead class="thead-light">
						<tr>
							<th>Resultado</th>
							<th>Interpretación del Resultado</th>
							<th>Observaciones del Cuestionario</th>
						</tr>
					</thead>
					<% for(var i = 0; i < cala.length; i++) { %>
						<tr>
							<td><%= cala[i].ValorR%></td>
							<td><%= cala[i].InterpretacionV%></td>
							<td><%= cala[i].ObservacionesCuestionario%></td>		
						</tr>
					<% } %>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-md 6 mt-4 text-center">
			</div>
		</div>
		<nav class="navbar navbar-expand-lg navbar-light bg-success">
			<a class="navbar-brand mx-auto text-light">Porcentaje de incidencias encontradas</a>
		</nav>
		<div class="row">
			<div class="col-md 5 mt-2 text-center">

				<table class="table">
					<thead class="thead-light">
						<tr>
							<th>Variable</th>
							<th>Porcentaje obtenido en los cuestionarios</th>
						</tr>
					</thead>
						<tr>
							<td><%= regresion[0].DescRegresion%></td>
							<%if(respcuest1.ValorR != "No aplicado" && respcuest1.length > 0){%>
								<%if((respcuest1[0].ValorR >= 1 && respcuest1[0].ValorR <= 27)){%>
									<% var res=((respcuest1[0].ValorR)*100)/27%>
									<td><%=res.toString().substr(0,5).concat("%")%></td>
								<%} else {%>
									<td>No aplicado</td>
								<%}%>
							<%}%>
						</tr>
						<tr>
							<td><%= regresion[1].DescRegresion%></td>
							<%if(respcuest2.ValorR != "No aplicado" && respcuest2.length > 0){%>
								<%if((respcuest2[0].ValorR >= 3 && respcuest2[0].ValorR <= 10)){%>
									<% var resp=((respcuest2[0].ValorR)*100)/10%>
									<td><%=resp.toString().substr(0,5).concat("%")%></td>
								<%} else {%>
									<td>No aplicado</td>
								<%}%>
							<%}%>
						</tr>
				</table>

			</div>
		</div>
			<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
				<a class="navbar-brand mx-auto text-light">Observaciones del paciente</a>
			</nav>
		<div class="row">
			<div class="col-md 5 mt-2 text-center">
		    	<div class='form-group'> 
			    	<textarea class="form-control" name="observaciones" rows="7" disabled><%=visu[0].Observaciones%></textarea>
			    	<br>
			    	<button type="submit" id="estilo_btn" class="btn btn-success" onclick="window.location.href='/<%=notas[0].idDoctor%>/histclinico.ejs'">Regresar</button>
		    	</div>
		    </div>
		</div>		
	</dive>
</body>
</html>