<!-- HEADER ANTERIOR
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">VITAE</a>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/login.ejs">Cerrar sesión</a>
          </li>
        </ul>
      </div>
      </div>
    </nav>
-->
<!--
    <div id = "consultar" class = "container col-lg8 col-xs-12 col-centered">
      <br>
      <center><h5>Pacientes</h5></center>
      <br>
      <div id = "tabla" class = "container col-lg8 col-xs-12 col-centered">
        <br>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Apellido paterno</th>
              <th>Apellido materno</th>  
              <th><center>-</center></th>      
            </tr>
          </thead>
          <tbody>
           <<% if (data) { %>
              <% for (var i = 0; i < data.length; i++) {%>
                <tr>
                  <td><%= data[i].idPaciente %></td>
                  <td><%= data[i].Nombre %></td>
                  <td><%= data[i].ApPaterno %></td>
                  <td><%= data[i].ApMaterno %></td>
                  <td>
                    <center><button type="submit" id="estilo_btn" class="btn btn-success" onclick="window.location.href='/pacientes.ejs/info_paciente.ejs/<%= data[i].idPaciente %>'">Consultar información</button></center>
                  </td>
                </tr>
              <% } %>
            <% } %>
          </tbody>
        </table>
      </div>
      <br>
      <div id = "botones" class = "container col-lg8 col-xs-12 col-centered">
      <center><button type="submit" id="estilo_btn" class="btn btn-success" onclick="window.location.href='/pacientes.ejs/reg_pac.ejs'">Registrar pacientes</button></center>
      </div>
    </div>
  -->