<!DOCTYPE html>
<html lang="en" data-textdirection="ltr" class="loading">
  <head>
    <!-- Required meta tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">

    <!-- bug asqueroso -->
    <link rel="shortcut icon" href="">

    <!-- Bootstrap CSS -->
    <link rel="apple-touch-icon" sizes="60x60" href="../../../../../app-assets/images/ico/apple-icon-60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../../../../../app-assets/images/ico/apple-icon-76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../../../../../app-assets/images/ico/apple-icon-120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../../../../../app-assets/images/ico/apple-icon-152.png">
    <link rel="shortcut icon" type="image/x-icon" href="../app-assets/images/ico/logo.png">
    <link rel="shortcut icon" type="image/png" href="../app-assets/images/ico/logo.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <!-- BEGIN VENDOR CSS-->
    <link rel="stylesheet" type="text/css" href="../../../../../app-assets/css/bootstrap.css">
    <!-- font icons-->
    <link rel="stylesheet" type="text/css" href="../../../../../app-assets/fonts/icomoon.css">
    <link rel="stylesheet" type="text/css" href="../../../../../app-assets/fonts/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" type="text/css" href="../../../../../app-assets/vendors/css/extensions/pace.css">
    <!-- END VENDOR CSS-->
    <!-- BEGIN ROBUST CSS-->
    <link rel="stylesheet" type="text/css" href="../../../../../app-assets/css/bootstrap-extended.css">
    <link rel="stylesheet" type="text/css" href="../../../../../app-assets/css/app.css">
    <link rel="stylesheet" type="text/css" href="../../../../../app-assets/css/colors.css">
    <!-- END ROBUST CSS-->
    <!-- BEGIN Page Level CSS-->
    <link rel="stylesheet" type="text/css" href="../../../../../app-assets/css/core/menu/menu-types/vertical-menu.css">
    <link rel="stylesheet" type="text/css" href="../../../../../app-assets/css/core/menu/menu-types/vertical-overlay-menu.css">
    <link rel="stylesheet" type="text/css" href="../../../../../app-assets/css/core/colors/palette-gradient.css">
    <!-- END Page Level CSS-->
    <!-- BEGIN Custom CSS-->
    <link rel="stylesheet" type="text/css" href="../../../../../assets/css/style.css">
    <!-- END Custom CSS-->

    <!-- Custom fonts for this template -->
    <link href="../../../../../Header/Ejemplo_pagina/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link href="../../../../../Header/Ejemplo_pagina/vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="../../../../../Header/Ejemplo_pagina/css/freelancer.min.css" rel="stylesheet">

    <title>VITAE</title>
    <style type="text/css">
      body{
        background-color: white;
        overflow: auto;
      }
      #consultar{
        
        /*determinamos una anchura*/
        width:900px;
        /*indicamos que el margen izquierdo, es la mitad de la anchura*/

        /*determinamos una altura*/
        height:500px;
        border-radius: 25px;
        overflow: auto;
        /*indicamos que el margen superior, es la mitad de la altura*/
        margin-top:130px;

        background-color: #ebd2f6;
        border:1px solid #c6c6c6;
      }
      #sticky-footer {
        flex-shrink: none;
      }
      #tabla{

        /*nos posicionamos en el centro del navegador*/

        /*determinamos una anchura*/
        width:750px;
        /*indicamos que el margen izquierdo, es la mitad de la anchura*/

        /*determinamos una altura*/
        height:330px;
        border-radius: 25px;
        overflow: auto;
        /*indicamos que el margen superior, es la mitad de la altura*/

        background-color: white;
        border:1px solid #c6c6c6;
      }
      #botones{
        /*nos posicionamos en el centro del navegador*/

        /*determinamos una anchura*/
        width:500px;
        /*indicamos que el margen izquierdo, es la mitad de la anchura*/

        /*determinamos una altura*/
        height:42px;
        border-radius: 25px;

        /*indicamos que el margen superior, es la mitad de la altura*/
        margin-bottom: 20px;
      }
      #estilo_btn{
        background-color: white;
        color: black;
        border: 2px solid #555555;
      }
      #estilo_btn:hover{
        background-color: #555555;
        color: white;
      }
    </style>
  </head>
  <body data-open="click" data-menu="vertical-menu" data-col="2-columns" class="vertical-layout vertical-menu 2-columns  fixed-navbar">
    <nav class="header-navbar navbar navbar-with-menu navbar-fixed-top navbar-semi-dark navbar-shadow">
      <div class="navbar-wrapper">
        <div class="navbar-header">
          <ul class="nav navbar-nav">
            <li class="nav-item hidden-md-up float-xs-right"><a data-toggle="collapse" data-target="#navbar-mobile" class="nav-link open-navbar-container"><i class="icon-ellipsis pe-2x icon-icon-rotate-right-right"></i></a></li>
          </ul>
        </div>
        <div class="navbar-container content container-fluid">
            <div id="navbar-mobile" class="collapse navbar-toggleable-sm">
            <ul class="nav navbar-nav">
              <li class="nav-item hidden-sm-down"><a class="nav-link nav-menu-main menu-toggle hidden-xs"><i class="icon-menu5"></i></a></li>
              <li class="nav-item hidden-sm-down"><a href="/<%=doc%>/index.ejs" class="nav-link nav-link-expand"><i class="ficon icon-expand2"></i></a></li>
            </ul>
            <ul class="nav navbar-nav float-xs-right">
              <li class="nav-item hidden-sm-down"><a id="estilo_btn" href="/login.ejs" class="btn btn-success upgrade-to-pro">Cerrar sesión</a></li>
            </ul>
            <ul class="nav navbar-nav float-xs-right">
              <li class="nav-item hidden-sm-down"><a id="estilo_btn" href="/<%=doc%>/atender.ejs/ini_cuest.ejs/<%=data[0].idPaciente%>/<%=fch%>" class="btn btn-success upgrade-to-pro">Regresar</a></li>
            </ul>
            </div>
          </div>
      </div>
    </nav>

<!-- main menu-->
    <div data-scroll-to-active="true" class="main-menu menu-fixed menu-dark menu-accordion menu-shadow">
      <!-- / main menu header-->
      <!-- main menu content-->
      <div class="main-menu-content">
        <ul id="main-menu-navigation" data-menu="menu-navigation" class="navigation navigation-main">
          <li><a href="/<%=doc%>/index.ejs"><i class="icon-home3"></i><span data-i18n="nav.dash.main" class="menu-title">Inicio</span></a>
            
          </li>
          <li class="nav-item"><a href="/<%=doc%>/index.ejs"><i class="icon-eye6"></i><span data-i18n="nav.dash.main" class="menu-title">Pacientes</span><span class="tag tag tag-primary tag-pill float-xs-right mr-2">2</span></a>
            <ul class="menu-content">
              <li class="active"><a href="/<%=doc%>/pacientes.ejs" data-i18n="nav.dash.main" class="menu-item">Pacientes activos</a>
              </li>
              <li><a href="/<%=doc%>/pacientes_arch.ejs" data-i18n="nav.dash.main" class="menu-item">Pacientes archivados</a>
              </li>
              <li><a href="/<%=doc%>/reg_pac.ejs" data-i18n="nav.dash.main" class="menu-item">Registrar pacientes</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- /main menu content-->
      <!-- main menu footer-->
      <!-- include includes/menu-footer-->
      <!-- main menu footer-->
    </div>
    <!-- / main menu-->
    <div class="app-content content container-fluid">
      <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body"><!-- stats -->
        <div class='form-group'> 
            <textarea class="form-control" name="observaciones" disabled rows="3">Instrucciones: 
Las siguientes preguntas tratan sobre cosas que usted ha sentido o hecho. Por favor, conteste marcando la respuesta que considere, en la columna que elija.</textarea>
          </div>
          <div class="row">
            <div class="card">
              <div class="card-block">
                <form action ="/<%=doc%>/atender.ejs/ini_cuest.ejs/ssm_ers.ejs/<%=data[0].idPaciente%>/cuest1" method ="post">
      <div id="inputs" class = "container col-lg8 col-xs-12 col-centered">
        <br>
        <table class = "table table-bordered table-hover">
          <tr>
            <th><label>PREGUNTA</label></th>
            <th><label>NO</label></th>
            <th><label>POCO</label></th>
            <th><label>REGULAR</label></th>
            <th><label>MUCHO</label></th>
          </tr>
          <tr>
            <td><label>1. Se siente triste o afligido (a)</label></td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P1" value="1" checked>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P1" value=2>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P1" value=3>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P1" value=4>
                </label>
              </div>    
            </td>
          </tr>
          <tr>
            <td><label>2. Se siente desalentado (a) acerca de su futuro</label></td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P2" value=1 checked>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P2" value=2>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P2" value=3>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P2" value=4>
                </label>
              </div>    
            </td>
          </tr>
          <tr>
            <td><label>3. Se siente fracasado (a) y con falta de confianza en Ud. Mismo (a)</label></td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P3" value=1 checked>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P3" value=2>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P3" value=3>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P3" value=4>
                </label>
              </div>    
            </td>
          </tr>
          <tr>
            <td><label>4. Se siente indiferente, como si las cosas que antes le interesaban ahora ya no las disfruta</label></td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P4" value=1 checked>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P4" value=2>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P4" value=3>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P4" value=4>
                </label>
              </div>    
            </td>
          </tr>
          <tr>
            <td><label>5. Se siente culpable de cosas que hizo o debió haber hecho</label></td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P5" value=1 checked>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P5" value=2>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P5" value=3>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P5" value=4>
                </label>
              </div>    
            </td>
          </tr>
          <tr>
            <td><label>6. Siente que merece ser castigado (a)</label></td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P6" value=1 checked>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P6" value=2>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P6" value=3>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P6" value=4>
                </label>
              </div>    
            </td>
          </tr>
          <tr>
            <td><label>7. Se siente decepcionado (a) de sí mismo (a)</label></td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P7" value=1 checked>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P7" value=2>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P7" value=3>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P7" value=4>
                </label>
              </div>    
            </td>
          </tr>
          <tr>
            <td><label>8. Se critica a sí mismo (a) por todos sus errores</label></td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P8" value=1 checked>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P8" value=2>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P8" value=3>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P8" value=4>
                </label>
              </div>    
            </td>
          </tr>
          <tr>
            <td><label>9. Ha tenido pensamientos de quitarse la vida (suicidarse)</label></td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P9" value=1 checked>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P9" value=2>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P9" value=3>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P9" value=4>
                </label>
              </div>    
            </td>
          </tr>
          <tr>
            <td><label>10. Llora o tiene ganas de llorar</label></td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P10" value=1 checked>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P10" value=2>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P10" value=3>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P10" value=4>
                </label>
              </div>    
            </td>
          </tr>
          <tr>
            <td><label>11. Se siente inquieto(a), tenso (a) o agitado (a)</label></td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P11" value=1 checked>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P11" value=2>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P11" value=3>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P11" value=4>
                </label>
              </div>    
            </td>
          </tr>
          <tr>
            <td><label>12. Ha perdido el interés en relacionarse con otras personas o cosas</label></td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P12" value=1 checked>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P12" value=2>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P12" value=3>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P12" value=4>
                </label>
              </div>    
            </td>
          </tr>
          <tr>
            <td><label>13. Tiene problemas para tomar decisiones</label></td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P13" value=1 checked>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P13" value=2>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P13" value=3>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P13" value=4>
                </label>
              </div>    
            </td>
          </tr>
          <tr>
            <td><label>14. Siente que es menos útil en comparación con otra gente</label></td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P14" value=1 checked>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P14" value=2>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P14" value=3>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P14" value=4>
                </label>
              </div>    
            </td>
          </tr>
          <tr>
            <td><label>15. Se siente con poca energía, cansado (a) o decaído (a)</label></td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P15" value=1 checked>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P15" value=2>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P15" value=3>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P15" value=4>
                </label>
              </div>    
            </td>
          </tr>
          <tr>
            <td><label>16. Duerme más, o menos de lo normal</label></td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P16" value=1 checked>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P16" value=2>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P16" value=3>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P16" value=4>
                </label>
              </div>    
            </td>
          </tr>
          <tr>
            <td><label>17. Esta más irritable o sensible que antes</label></td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P17" value=1 checked>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P17" value=2>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P17" value=3>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P17" value=4>
                </label>
              </div>    
            </td>
          </tr>
          <tr>
            <td><label>18. Su apetito es mayor o menor de lo normal</label></td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P18" value=1 checked>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P18" value=2>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P18" value=3>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P18" value=4>
                </label>
              </div>    
            </td>
          </tr>
          <tr>
            <td><label>19. Le cuesta trabajo concentrarse</label></td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P19" value=1 checked>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P19" value=2>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P19" value=3>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P19" value=4>
                </label>
              </div>    
            </td>
          </tr>
          <tr>
            <td><label>20. Esta demasiado cansado (a) o fatigado (a) para hacer las cosas que solía hacer</label></td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P20" value=1 checked>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P20" value=2>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P20" value=3>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P20" value=4>
                </label>
              </div>    
            </td>
          </tr>
          <tr>
            <td><label>21. Ha disminuido su deseo sexual</label></td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P21" value=1 checked>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P21" value=2>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P21" value=3>
                </label>
              </div>    
            </td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="P21" value=4>
                </label>
              </div>    
            </td>
          </tr>
        </table>
        <br>
      </div>
      <br>
        <center><button type="submit" id="estilo_btn" class="btn btn-success">Registrar respuestas</button></center>
      </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!-- ////////////////////////////////////////////////////////////////////////////-->

    <footer class="footer footer-static footer-light navbar-border">
      <p class="clearfix text-muted text-sm-center mb-0 px-2"><span class="float-md-left d-xs-block d-md-inline-block">Copyright  &copy; 2019 <a href="/inicio.ejs" target="_blank" class="text-bold-800 grey darken-2">VITAE </a>, All rights reserved. </span><span class="float-md-right d-xs-block d-md-inline-block"></span></p>
    </footer>

    <!-- BEGIN VENDOR JS-->
    <script src="../../../../../app-assets/js/core/libraries/jquery.min.js" type="text/javascript"></script>
    <script src="../../../../../app-assets/vendors/js/ui/tether.min.js" type="text/javascript"></script>
    <script src="../../../../../app-assets/js/core/libraries/bootstrap.min.js" type="text/javascript"></script>
    <script src="../../../../../app-assets/vendors/js/ui/perfect-scrollbar.jquery.min.js" type="text/javascript"></script>
    <script src="../../../../../app-assets/vendors/js/ui/unison.min.js" type="text/javascript"></script>
    <script src="../../../../../app-assets/vendors/js/ui/blockUI.min.js" type="text/javascript"></script>
    <script src="../../../../../app-assets/vendors/js/ui/jquery.matchHeight-min.js" type="text/javascript"></script>
    <script src="../../../../../app-assets/vendors/js/ui/screenfull.min.js" type="text/javascript"></script>
    <script src="../../../../../app-assets/vendors/js/extensions/pace.min.js" type="text/javascript"></script>
    <!-- BEGIN VENDOR JS-->
    <!-- BEGIN PAGE VENDOR JS-->
    <script src="../../../../../app-assets/vendors/js/charts/chart.min.js" type="text/javascript"></script>
    <!-- END PAGE VENDOR JS-->
    <!-- BEGIN ROBUST JS-->
    <script src="../../../../../app-assets/js/core/app-menu.js" type="text/javascript"></script>
    <script src="../../../../../app-assets/js/core/app.js" type="text/javascript"></script>
    <!-- END ROBUST JS-->
    <!-- BEGIN PAGE LEVEL JS-->
    <script src="../../../../../app-assets/js/scripts/pages/dashboard-lite.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL JS-->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="../../../../../resources/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>